{% extends "base.html" %}

{% block main %}

<p> About Us </p>
<p>{{ user }}</p>

<p> At Seneca Brewers, we have a long history of brewing only the finest of beers and ales. We don't bother with cheap product, and we never moved to mass productions.
    Here, every cask is hand checked, and every bottle we ship is guaranteed to be of the highest quality, every time.
</p>
<img src="{{ url_for('static', filename = 'images/Cold_Beer_1.jpg') }}" alt = "A refreshing glass of beer">

{% endblock main %}